body{
   background-color: #171616;
   font-family: "Roboto",sans-serif ;
}
h2{
   text-align: center;
   color: #fff;
   font-size: 35px;
}


/* STYLES FOR PROJECT VIDEOS */
.project1-container{
   display: flex;
   gap: 10px;
   margin-top: 50px;
   width: 100%;
}
.project1-container video{
   width: 45%;
   border-radius: 5px 30px 10px 5px;
   box-shadow: 0 0 2px grey;
   cursor: pointer;
   padding: 10px;
   margin: auto;
}
.project1-container video:hover{
   transform: scale(1.03);
   border: 2px solid grey;
   box-shadow: none;
}
.project1-container video:focus{
   box-shadow: none;
   border: 2px solid #fff;
}
.project1-container .project1-details{
   display: flex;
   flex-direction: column;
   justify-content: start;
   border-radius: 30px 5px 5px 10px;
   width: 45%;
   color: #FAFAFA;
   box-shadow: 0 0 2px grey;
}
.project1-container .project1-details:hover{
   border: 2px solid grey;
   box-shadow: none;
}
.project1-container .project1-details ul{
   list-style-type: square;
}
.project1-details span{
   color: #fff;
   font-size: 25px;
   padding: 10px;
   letter-spacing: 2px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.project1-details .disclaimer{
   background-color: black;
   color: #beff6c;
   padding: 8px;
   border-radius: 10px;
}

.project1-details p{
   font-size: 20px;
   margin-left: 10px;
}.project1-details ul{
   font-size: 18px;
   word-spacing: 5px;
}
.project1-details a{
   text-decoration: underline;
   color: #fff;
   font-size: 23px;
   letter-spacing: 2px;
}
.project1-details a:hover{
   color: blue;
}


/* STYLES FOR DEVICES WHOSE WIDTH IS LESS THAN OR EQUAL TO 768PX  */
@media (max-width:768px) {
   .project1-container{
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   .project1-container video{
      width: 90%;
      margin: auto;
   }
   .project1-container .project1-details{
      width: 90%;
      margin: auto;
   }
}




/* SCROLL BAR STYLES */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #0F0F0F;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(180deg,#868be8,blueviolet);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #fff;
}